.todoItemText {
    font-size: 1rem;
    color: #1f2937;
    word-break: break-word;
    transition: 0.2s;
}

.done {
    text-decoration: line-through;
    color: #9ca3af;
}

.todoItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

input[type="checkbox"] {
    cursor: pointer;
    transform: scale(1.2);
}

.deleteBtn {
    padding: 0.4rem 0.8rem;
    background-color: #ef4444;
    color: white;
    border: none;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deleteBtn:hover {
    background-color: #dc2626;
}